<div class="intro"><div class="home-search">
<center><br><br><br><br><br><h1><i class="text-primary fa fa-graduation-cap fa-x"></i> Classy</h1></center>

<div class="col-md-4 col-md-offset-4"><hr>


<script>
  $(function() {
   $('#test').addClass('animated fadeInUp');
});
</script>
  </center>

<div id="the-basics2">
<%= form_tag(sections_wishlist_path, :method => "get", id: "the-basics2  form-", class: 'for') do  %>
<div class="form-group col-md-">
  <%= text_field_tag :search, params[:search], class: "form-control typeahead", id: "auto_complete", placeholder: "Search for a Class, Teacher, Major, or Requirement" %>
    </div><center>
  <%= submit_tag "Classy Search", class: "btn btn-primary btn- btn-", :name => nil %>

<% end %>
</div>
  <%= javascript_tag "var autocomplete_items = #{ @autocomplete_items.pluck(:section_name).to_json };" %>
      <%= javascript_tag "var autocomplete_subjects = #{ @autocomplete_subjects.pluck(:subject).to_json };" %>
      <%= javascript_tag "var autocomplete_teachers = #{ @autocomplete_teachers.pluck(:teacher).to_json };" %>
<script type="text/javascript">
$('#the-basics2 .typeahead').typeahead({ hint: true, highlight: true, minLength: 2 },
{ name: 'states', displayKey: 'value', source: substringMatcher(autocomplete_subjects), templates: {
  header: '<h3 style="padding-left: 10px;" class="league-name">Department</h3>'}
},
{name: 'nba-teams',displayKey: 'value',source: substringMatcher(autocomplete_items),templates: {header: '<h3 style="padding-left: 10px;" class="league-name">Name</h3>'}
},
{name: 'nba-teams',displayKey: 'value',source: substringMatcher(autocomplete_teachers),templates: {
header: '<h3 style="padding-left: 10px;" class="league-name">Teacher</h3>'}
}).on('typeahead:selected', function(e, data) {
$("#the-basics2 form").submit();
}).css();
</script>
<script>
  $('#hours').slider({ 
        formater: function(value) {
            return formatTime(minutesToTime(value));
        },
        
        tooltip_separator: " to ", 
    }).on("slideStop", drawTables);
  
  function drawTables() {
      
    }
  
</script>
  </div>
</div></div>