<center><i style="text-shadow: 3px 3px 0px #fff, 7px 7px 0px rgba(0, 0, 0, 0.15);" class="text-primary fa fa-graduation-cap fa-5x"></i><br><h1>Classy</h1><h3>The open education platform</h3></center>

<div class="col-md-6 col-md-offset-3"><hr><h4>Classy helps you search course catalogs and plan the perfect semester. Save your favorites to a wishlist and then make the schedule that works for you on an interactive calendar. </h4>


<script>
  $(function() {
   $('#test').addClass('animated fadeInUp');
});
</script>
  </center><br>

<div id="the-basics2">
<%= form_tag(sections_search_sections_path, :method => "get", id: "the-basics2  form-", class: 'for') do  %>
 
<div class="form-group col-md-">
  <%= text_field_tag :search, params[:search], class: "form-control typeahead", id: "auto_complete", placeholder: "Search by Class, Teacher, Major, Requirement..." %>
    </div><br>
  <%= submit_tag "Search!", class: "btn btn-primary btn-lg btn-block", :name => nil %>

<% end %>
</div>
  <%= javascript_tag "var autocomplete_items = #{ @autocomplete_items.pluck(:teacher).to_json };" %>
      <%= javascript_tag "var autocomplete_majors = #{ @autocomplete_majors.pluck(:name).to_json };" %>
      <%= javascript_tag "var autocomplete_courses = #{ @autocomplete_courses.pluck(:name).to_json };" %>
<script type="text/javascript">
  $('#auto_complete').typeahead({ 
    hint: true, highlight: true, minLength: 1 },
{ name: 'states', displayKey: 'value', source: substringMatcher(autocomplete_items), templates: {
  header: '<h3 style="padding-left: 10px;" class="league-name">Teachers</h3>'
}
},
{
  name: 'nba-teams',
  displayKey: 'value',
  source: substringMatcher(autocomplete_majors),
  templates: {
    header: '<h3 style="padding-left: 10px;" class="league-name">Majors</h3>'
  }
},
{
  name: 'nba-teams',
  displayKey: 'value',
  source: substringMatcher(autocomplete_courses),
  templates: {
    header: '<h3 style="padding-left: 10px;" class="league-name">Class</h3>'
  }
});
</script>
<script>
  $('#hours').slider({ 
        formater: function(value) {
            return formatTime(minutesToTime(value));
        },
        
        tooltip_separator: " to ", 
    }).on("slideStop", drawTables);
  
  function drawTables() {
      
    }
  
</script>
  </div>
