<br><center><i class="text-primary fa fa-graduation-cap fa-5x"></i><br><br></center>
<div class=" col-md-4 col-md-offset-4">
 <center> <h3>Ready to take control over your education?</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><br />
  <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'EMAIL' %></div>

  <div><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'PASSWORD' %></div>

  <div><br />
    <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'PASSWORD CONFIRMATION' %></div>

  <div><br><%= f.submit "Sign up", class: 'btn btn-primary btn-block' %></div>
<% end %>
<br>
<%= render "devise/shared/links" %>
</div>
</div>
</div>