<div class="container">
<p id="notice"><%= notice %></p>
  <div class="well">
<center><h1><%= @user.email %></h1>
  
</center>
  <script>
    var date = new Date();
    var d = 25;
    var m = 4;
    var y = 2012;
    var class_arr = [133];
    var events_arr = [];
    
  </script>
  <% @user.enrollments.each do |f| %>
  <% if f.section.presence %>
  <% f.section.start_time_s %>
  <% Integer start_hour = f.section.start_time_s.match(/\d{2}/).to_s.to_i %>
    <% if f.section.start_time_s.match(/(PM)/) && !f.section.start_time_s.match(/(12:00PM)/) %>
    <% start_hour += 12 %>
    <% end %>
  <% Integer start_minute = /(?<=:)\d{2}/.match(f.section.start_time_s).to_s.to_i %>
    <% Integer end_hour = f.section.end_time_s.match(/\d{2}/).to_s.to_i %>
    <% if f.section.end_time_s.match(/(PM)/) %>
    <% end_hour += 12 %>
    <% end %>
    <% Integer end_minute = /(?<=:)\d{2}/.match(f.section.end_time_s).to_s.to_i %>
  <script> class_arr.push('<%= start_hour %>');
    if ('<%= f.section.days.match(/(Monday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d-4, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d-4, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Tuesday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d-3, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d-3, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Wednesday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d-2, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d-2, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Thursday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d-1, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d-1, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Friday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Saturday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d+1, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d+1, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Sunday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d+2, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d+2, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
      
    
    </script>

  <% end %>
  <% end %>
<div id='calendar'></div>
<script>
    var enrollments = '<%= escape_javascript @user.enrollments.to_json %>';
  var enrollment1 = '<%= escape_javascript @user.enrollments.first.section %>';
    
    
    $('#calendar').fullCalendar({year: 2012,
 month: 4,
 date: 25,eventColor: '#2979FF',
        header: {
          //  left: 'prev,next today',
          left: '',
          center: '', right: ''
            //right: 'month,agendaWeek,agendaDay'
        },columnFormat: {
            month: 'ddd',
            week: 'ddd',
            day: 'dddd d/M'
        },minTime: 7,
      maxTime: 24, allDaySlot: false,
        defaultView: 'agendaWeek',
        editable: false,
        events: events_arr
    });
</script>


<h3>Spring 2015 Wishlist</h3>

<% @user.enrollments.each do |f| %>
    <p >
      <% if Section.exists?(f.section_id) and f.section.course.presence %>
      <%= link_to f.section.course.full_name, f.section, method: :delete %>
      <% elsif Section.exists?(f.section_id) %>
      <%= link_to f.section.section_name_and_title, f.section %>  <br>
      <%= f.section.schedule %> 
      <% end %>
    </p>
<% end %>
<%= link_to "Back to search", sections_wishlist_path, class: "btn btn-primary" %>

</div>