<div class="container"><% if @user == current_user %>
<%= render 'layouts/messages' %>
    <div class="row">
      <div class="col-md-9">
        <div class="well">
        
  <script>
    var date = new Date();
    var d = 25;
    var m = 4;
    var y = 2012;
    var class_arr = [133];
    var events_arr = [];
    
  </script>
  <% @user.enrollments.each do |f| %>
        <% if f.section.presence and !f.cal_hidden %>
  <% f.section.start_time_s %>
  <% Integer start_hour = f.section.start_time_s.match(/\d{2}/).to_s.to_i %>
    <% if f.section.start_time_s.match(/(PM)/) && !f.section.start_time_s.match(/(12:00PM)/) %>
    <% start_hour += 12 %>
    <% end %>
  <% Integer start_minute = /(?<=:)\d{2}/.match(f.section.start_time_s).to_s.to_i %>
    <% Integer end_hour = f.section.end_time_s.match(/\d{2}/).to_s.to_i %>
    <% if f.section.end_time_s.match(/(PM)/)  && !f.section.end_time_s.match(/(12)/) %>
    <% end_hour += 12 %>
    <% end %>
    <% Integer end_minute = /(?<=:)\d{2}/.match(f.section.end_time_s).to_s.to_i %>
  <script> class_arr.push('<%= start_hour %>');
    if ('<%= f.section.days.match(/(Monday)/) %>'){
    events_arr.push({ title: '<%= f.section.section_name %>', start: new Date(y, m, d-4, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d-4, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Tuesday)/) %>'){
    events_arr.push({ title: '<%= f.section.section_name %>', start: new Date(y, m, d-3, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d-3, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Wednesday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d-2, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d-2, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Thursday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d-1, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d-1, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Friday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Saturday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d+1, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d+1, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
    if ('<%= f.section.days.match(/(Sunday)/) %>'){
    events_arr.push({title: '<%= f.section.section_name %>', start: new Date(y, m, d+2, '<%= start_hour %>', '<%= start_minute %>'),
                end: new Date(y, m, d+2, '<%= end_hour %>', '<%= end_minute %>'),
                allDay: false})  
    }
      function checkOverlap(event) {  

    var start = new Date(event.start);
    var end = new Date(event.end);

    var overlap = $('#calendar').fullCalendar('clientEvents', function(ev) {
        if( ev == event)
            return false;
        var estart = new Date(ev.start);
        var eend = new Date(ev.end);

        return (Math.round(estart)/1000 < Math.round(end)/1000 && Math.round(eend) > Math.round(start));
    });

    if (overlap.length){  
            //either move this event to available timeslot or remove it
       }                  
  }
    
    </script>

  <% end %>
  <% end %>
<div id='calendar'></div>
<script>
  
    $('#calendar').fullCalendar({year: 2012,
 month: 4,
 date: 25,eventColor: '#2979FF',
        header: {
          //  left: 'prev,next today',
          left: '',
          center: '', right: ''
            //right: 'month,agendaWeek,agendaDay'
        },columnFormat: {
            month: 'ddd',
            week: 'ddd',
            day: 'dddd d/M'
        },minTime: 7,
      maxTime: 24, allDaySlot: false,
        defaultView: 'agendaWeek',
        editable: false,
        events: events_arr
    });
</script>
      </div>
      </div>
      <div class="col-md-3">
        
        <!-- link to search -->
        <%= link_to sections_wishlist_path, class: 'btn btn- btn-block btn-success tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "Go back to searching for classes", 'data-placement' => 'bottom' do %>
      <i class="fa fa-search fa-x"></i> Search Classes
      <% end %>
        
        <div class="well">
        <div id="wishlist">
        <%= render 'users/wishlist' %>
        </div>
      </div>
    </div>

</div>
  <% else %> Access denied <% end %>