<p id="notice"><%= notice %></p>

<h1>
  Department of <%= @department.name %> at <%= link_to University.find(@department.university_id).name, @department.university %>
</h1>
<hr>
<p class="lead"><i>
  "<%= @department.description %>"
  </i>
</p>

<%= link_to 'Edit', edit_department_path(@department) %> |
<%= link_to 'Back', departments_path %>
<h3>Majors</h3>
<% @department.majors.each do |f| %>
<h4><%= link_to f.name, f %></h4>
<% end %>
<h3>Courses</h3>
<% @department.courses.each do |f| %>
<h4><%= link_to f do %> <%= f.course_number %> <%= f.department.department_tag %> <%= f.name %> <% end %></h4>
<% end %>