<h1>Edit Sections</h1>
<%= link_to "Back", sections_all_sections_path %>
<hr>
<%= form_tag sections_destroy_multiple_path, method: :delete do %>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Delete</th>
      <th>Course</th>
      <th>Term</th>
      <th>Teacher</th>
      <th>Schedule</th>
      <th>Room</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
    <tr>
      <td><%= check_box_tag "sections[]", section.id %></td>
      <td><% if Course.exists?(section.course_id) %><%= Course.find(section.course_id).name %><% end %></td>
      <td><%= section.term %></td>
        <td><%= section.teacher %></td>
        <td><%= section.schedule %></td>
        <td><%= section.room %></td>
      <td><%= link_to 'Show', section %></td>
      <td><%= link_to 'Edit', edit_section_path(section) %></td>
      <td><%= link_to 'Destroy', section, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag "Delete selected" %>
<% end %>