<p id="notice"><%= notice %></p>

<div class="row">
  <h1><%= @section.course.full_name %>
    <div class="dropdown pull-right">
      <button class="btn btn-default dropdown-toggle pull-right" type="button" id="dropdownMenu1" data-toggle="dropdown">
        
        <i class="fa fa-pencil"></i>
      </button>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation"><%= link_to "Edit", edit_section_path(@section) %></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Flag</a></li>
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Write a Review</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><% if user_signed_in? && current_user.enrolled?(@section) %>
          <%= link_to Enrollment.where(:user_id => current_user.id, :section_id => @section.id).first, class: "", method: :delete, data: { confirm: "Are you sure?" } do |f| %>
       Drop<% end %>
          <% else %>
          <% if user_signed_in? &&  %>
      <%= form_for [current_user, Enrollment.new] do |f| %>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <%= f.hidden_field :section_id, value: @section.id %>
          <%= f.submit "Enroll", class: 'btn btn-default btn-block', style: "padding: 5px" %>
      <% end %>
    <% end %>
          <% end %> </li>
      </ul>
    </div>
   </h1>
<hr>

<div class="row">
  <div class="col-md-9">
    
<div class="well">
  <h2>Learning Materials</h2>
  <%= form_for [@section, LearningResource.new] do |f| %>
  <%= f.hidden_field :section_id, value: @section.id %>URL: 
  <%= f.text_field :resourceurl %> Name: <%= f.text_field :name %>
  <%= f.submit "Add", class: "btn btn-default" %>
  <% end %>
  <hr>
  <% @section.learning_resources.each do |f| %>
  <h4><%= f.name %></h4>
  <h4><%= link_to f.resourceurl, f.resourceurl %></h4>
  <% end %>
</div>
  </div>
  <div class="col-md-3">
    <div class="well">
      Teacher: <%= @section.teacher %> <br><%= @section.course.credits %> Credits<br>
      <%= @section.term %><br>
      <%= @section.schedule %><br><p>
      Hour:<%= @section.time_start.hour %> Min:<%= @section.time_start.min %>
      Total (out of 1440): <%= (@section.time_start.hour * 60) + (@section.time_start.min) %>
      </p>
      <%= @section.room %>
    </div>
  </div>
</div>

<% if user_signed_in? && current_user.badmin %>
<%= link_to 'Edit', edit_section_path(@section) %>
<% end %>
<div class="row">
  <div class="col-md-6">
    

<div class="well">
  <h2>Assignments</h2>
  <% @section.assignments.order("duedate desc").each do |f| %><div class="well"><h4>
    <%= link_to f.name, f %>
    <span class="label label-default"><%= f.points %> Points</span>
    <span class="label label-default">Due <%= f.duedate.to_date %></span>
    </h4><h5><%= f.description %>
    </h5></div>
  <% end %>
  <%= form_for [@section, Assignment.new] do |f| %>
  <%= f.hidden_field :section_id, value: @section.id %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :points %>
  <%= f.text_field :points %>
  <%= f.label :duedate %>
  <%= f.date_select :duedate %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit %>
  <% end %>
</div>