<div class="bs-docs-headerrrrrrrr"><div class="container">
  <%= render 'layouts/messages' %>
</center><% if user_signed_in? and current_user.bAmbassador %> <% link_to "parse data", sections_disperse_path %>
<%= link_to "Delete duplicates", sections_dedupe_path %><% end %>
</div><div class="container ">
<br>
  <div class="row">
    <div class="col-md-9">
      
      <%= javascript_tag "var autocomplete_items = #{ @autocomplete_items.pluck(:section_name).to_json };" %>
      <%= javascript_tag "var autocomplete_subjects = #{ @autocomplete_subjects.pluck(:subject).to_json };" %>
      <%= javascript_tag "var autocomplete_teachers = #{ @autocomplete_teachers.pluck(:teacher).to_json };" %>
<script type="text/javascript">
$('#the-basics2 .typeahead').typeahead({ hint: true, highlight: true, minLength: 2 },
{ name: 'states', displayKey: 'value', source: substringMatcher(autocomplete_subjects), templates: {
  header: '<h3 style="padding-left: 10px;" class="league-name">Department</h3>'}
},
{name: 'nba-teams',displayKey: 'value',source: substringMatcher(autocomplete_items),templates: {header: '<h3 style="padding-left: 10px;" class="league-name">Name</h3>'}
},
{name: 'nba-teams',displayKey: 'value',source: substringMatcher(autocomplete_teachers),templates: {
header: '<h3 style="padding-left: 10px;" class="league-name">Teacher</h3>'}
}).on('typeahead:selected', function(e, data) {
$("#the-basics2 form").submit();
}).css('width','400px');
</script>
<script>
  $('#hours').slider({ 
        formater: function(value) {
            return formatTime(minutesToTime(value));
        },
        
        tooltip_separator: " to ", 
    }).on("slideStop", drawTables);
  
  function drawTables() {
      
    }
  
</script>
      <div class="well">
<table  class="table table-responsive table- table-hover">
  <thead>
    <tr>
      <th>COURSE</th>
      <th>TIME</th>
      <th>TEACHER</th>
      <th>GE</th>
      <th>Likes</th>
      <th>Favorite</th>
      
      <th>Info</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><b><% if section.section_name.presence %><%= link_to section.section_name, section %></b><br><%= section.subject_number_section %><% end %></td>
        <td><%= section.start_time_s %> - <%= section.end_time_s %><br>
          <%= section.days %></td>
        <td><%= section.teacher %></td>
        <td><%= section.ge %></td>
        <td style="text-align: center; vertical-align: middle;"><%= section.capacity %></td>
        
        <td>
          <% if user_signed_in? %>
          <div id="<%= section.id %>enroll_form">
            <% if current_user.enrolled?(section) %>
            <%= render partial: 'sections/unenroll', locals: {section: section} %>
            <% else %>
              <%= render partial: 'sections/enroll', locals: {section: section} %>
            <% end %>
            </div>
          <% else %>
          <h5 class="text-danger"><%= section.enrollments.count %> <i class="fa fa-heart"></i></h4>
          <% end %>
        </td>
        <td><% if section.section_name.presence %><%= link_to '#', class: 'btn btn-sm btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => " " + section.schedule + section.section_name_and_title, 'data-placement' => 'left' do %><i class="fa fa-info fa-2x"></i><% end %><% end %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
      </div>
        
 <%= will_paginate @collection, class: 'pagination', renderer: BootstrapPagination::Rails %>
<br>
    </div>
    
    <div class="col-md-3" >
      <% if user_signed_in? %>
      <%= link_to current_user, class: 'btn btn- btn-block btn-primary tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "See a Calendar of your Wishlist", 'data-placement' => 'bottom' do %>
      <i class="fa fa-calendar fa-x"></i> Calendar
      <% end %>
      <div class="well">
          <center><h4><strong>Wishlist</strong></h4></center>
<div id="wishlist">
          <%= render 'sections/wishlist' %>
        </div>
      <% else %> <p><%= link_to "Log in to save your schedule", new_user_session_path, class: 'btn-block btn btn-primary' %></p>
          <% end %><p>
      </div>
      <% if user_signed_in? %>
      <%= link_to new_user_session_path, class: 'btn btn-raised btn-block btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "Use the Flag to mark incorrect or questionable information", 'data-placement' => 'bottom' do %>
      <i class="fa fa-flag fa-x"></i> Flag
      <% end %>
      <% end %>
      <%= link_to new_user_session_path, class: 'btn btn-raised btn-block btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "Help", 'data-placement' => 'bottom' do %>
      <i class="fa fa-question fa-x"></i> Help
      <% end %>
      <%= link_to universities_path, class: 'btn btn-raised btn-block btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "Go to Chapman University page", 'data-placement' => 'bottom' do %>
      <i class="fa fa-university fa-x"></i> Chapman University
      <% end %>
      <br>
      </p>
      <hr>
    </div>
