
<div class="bs-docs-headerrrrrrrr"><div class="container">
  <%= render 'layouts/messages' %>
</center><% if user_signed_in? and current_user.bAmbassador %> <% link_to "parse data", sections_disperse_path %>
<%= link_to "Delete duplicates", sections_dedupe_path %><% end %>
</div><div class="container ">
<br>
  <div class="row">
    <div class="col-md-9">
      
      <%= javascript_tag "var autocomplete_items = #{ @autocomplete_items.pluck(:section_name).to_json };" %>
      <%= javascript_tag "var autocomplete_subjects = #{ @autocomplete_subjects.pluck(:subject).to_json };" %>
      <%= javascript_tag "var autocomplete_teachers = #{ @autocomplete_teachers.pluck(:teacher).to_json };" %>
<script type="text/javascript">
$('#the-basics2 .typeahead').typeahead({ hint: true, highlight: true, minLength: 2 },
{ name: 'states', displayKey: 'value', source: substringMatcher(autocomplete_subjects), templates: {
  header: '<h3 style="padding-left: 10px;" class="league-name">Department</h3>'}
},
{name: 'nba-teams',displayKey: 'value',source: substringMatcher(autocomplete_items),templates: {header: '<h3 style="padding-left: 10px;" class="league-name">Name</h3>'}
},
{name: 'nba-teams',displayKey: 'value',source: substringMatcher(autocomplete_teachers),templates: {
header: '<h3 style="padding-left: 10px;" class="league-name">Teacher</h3>'}
}).css('width','400px');
</script>
<script>
  $('#hours').slider({ 
        formater: function(value) {
            return formatTime(minutesToTime(value));
        },
        
        tooltip_separator: " to ", 
    }).on("slideStop", drawTables);
  
  function drawTables() {
      
    }
  
</script>
      <div class="panel panel-default">
<table  class="table table-responsive table- table-hover">
  <thead>
    <tr>
      <th>COURSE</th>
      <th>TIME</th>
      <th>TEACHER</th>
      <th>GE</th>
      <th>Capacity</th>
      <th>Wishlist</th>
      
      <th>Info</th>
    </tr>
  </thead>

  <tbody>
    <% @sections.each do |section| %>
      <tr>
        <td><b><% if section.section_name.presence %><%= link_to section.section_name, section %></b><br><%= section.subject_number_section %><% end %></td>
        <td><%= section.start_time_s %> - <%= section.end_time_s %><br>
          <%= section.days %></td>
        <td><%= section.teacher %></td>
        <td><%= section.ge %></td>
        <td><%= section.capacity %></td>
        
        <td><% if user_signed_in? && current_user.enrolled?(section) %>
          <%= link_to Enrollment.where(:user_id => current_user.id, :section_id => section.id).first, class: "btn btn-sm btn-warning", remote: false, method: :delete do |f| %>
       <%= section.enrollments.count %> <i class="fa fa-star"></i> On Wishlist
          <% end %>    
          <% else %>
          <% if user_signed_in? &&  %>
          <%= form_for [current_user, Enrollment.new], html: { id: 'form_id' }, url: { controller: :enrollments, user_id: current_user.id } do |f| %>
            <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.hidden_field :section_id, value: section.id %>
             <%= button_tag(type: "submit", class: "btn btn-default btn-sm") do %>
            <%= section.enrollments.count %> <i class="fa fa-star-o"></i> Wishlist?
        <% end %>
      <% end %>
          <% else %>
          <h5 class="text-danger"><%= section.enrollments.count %> <i class="fa fa-heart"></i></h4>
          <% end %>
          <% end %>
        </td>
        <td><% if section.section_name.presence %><%= link_to 'i', '#', class: 'btn btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => " " + section.schedule + section.section_name_and_title, 'data-placement' => 'left' %><% end %></td>
       
      </tr>
    <% end %>
  </tbody>
</table>
      </div>
        
 <%= will_paginate @collection, renderer: BootstrapPagination::Rails %>
<br>
    </div>
    
    <div class="col-md-3">
      <% if user_signed_in? %>
      <div class="panel panel-primary">
        <div class="panel-heading">
          <center><h4><strong>Wishlist</strong></h4></center>
        </div>
        <div class="panel-body">
            <% current_user.enrollments.each do |f| %>
              <p>
                <% if Section.exists?(f.section_id) and f.section.course.presence %>
                  <%= link_to f.section.course.full_name, f.section %>
                <% elsif Section.exists?(f.section_id) %>
                  <%= link_to f.section.section_name_and_title, f.section %>
                <%= link_to Enrollment.where(:user_id => current_user.id, :section_id => f.section.id).first, class: 'text-danger', method: :delete do %>
       (remove)
          <% end %>    
                <% end %>
              </p>
          
          <% end %>
        </div>
      </div>
      <% else %> <p><%= link_to "Log in to save your schedule", new_user_session_path, class: 'btn-block btn btn-primary' %></p>
          <% end %><p>
      <% if user_signed_in? %>
      <%= link_to current_user, class: 'btn  btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "See a Calendar of your Wishlist", 'data-placement' => 'bottom' do %>
      <i class="fa fa-calendar fa-2x"></i>
      <% end %>
      <%= link_to new_user_session_path, class: 'btn  btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "Use the Flag to mark incorrect or questionable information", 'data-placement' => 'bottom' do %>
      <i class="fa fa-flag fa-2x"></i>
      <% end %>
      <% end %>
      <%= link_to new_user_session_path, class: 'btn  btn-default tag-tooltip', data: {:toggle=>"tooltip"}, 'data-original-title' => "Help", 'data-placement' => 'bottom' do %>
      <i class="fa fa-question fa-2x"></i>
      <% end %>
      <br>
      </p>
      <hr>
      
    </div>
