<%= form_for(@major) do |f| %>
  <% if @major.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@major.errors.count, "error") %> prohibited this major from being saved:</h2>

      <ul>
      <% @major.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :university_id %><br>
    <%= f.collection_select :university_id, University.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :department_id %><br>
    <%= f.collection_select :department_id, Department.all, :id, :name %>
  </div>

Lower division credis

Upper division credits

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
