<p id="notice"><%= notice %></p>

<h1>
  <%= @major.name %>
</h1>
Of <%= link_to @major.university.name, @major.university %> within the <%= link_to "Department of " + @major.department.name, @major.department %><br>
<%= link_to 'Edit', edit_major_path(@major) %> | <%= link_to 'Back', majors_path %>
<hr>

<div class="row">
  <div class="col-md-3">
    <div class="well">
    <h4>Enrolled Students (<%= @users.count %>)</h4>
    <% @users.each do |f| %>
    <p><%= link_to f.full_name, f %></p>
    <% end %>
  </div>
  </div>
  <div class="col-md-9">
    <div class="well">



<h3><%= link_to "Requirements", degree_requirements_path %> (<%= @major.total_credits %> credits ) </h3>

<% @major.degree_requirements.each do |f| %>

<p>
  <% if f.course.presence %><%= link_to f.course.full_name, f.course %> - <%= f.course.credits %> Credits <% if user_signed_in? %><% current_user.enrollments.each do |g| %> 
          <% if g.section.course.id == f.course.id %>
            <span class="label label-success">Currently Enrolled</span>
  <% end %><% end %><% end %><% end %>
</p>
<% end %>
