<p id="notice"><%= notice %></p>

<h1>
  <%= @major.name %>
</h1>
<%= link_to @major.university.name, @major.university %> / <%= link_to "Department of " + @major.department.name, @major.department %>
<hr>

<%= link_to 'Edit', edit_major_path(@major) %> |
<%= link_to 'Back', majors_path %>

<h3><%= link_to "Requirements", degree_requirements_path %> (<%= @major.total_credits %> credits ) </h3>

<% @major.degree_requirements.each do |f| %>

<p>
  <% if f.course.presence %><%= link_to f.course.full_name, f.course %> - <%= f.course.credits %> Credits <% current_user.enrollments.each do |g| %> 
          <% if g.section.course.id == f.course.id %>
            <span class="label label-success">Currently Enrolled</span>
  <% end %><% end %><% end %>
</p>
<% end %>
