<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @teacher.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @teacher.department_id %>
</p>

<p>
  <strong>Degree:</strong>
  <%= @teacher.degree %>
</p>

<p>
  <strong>Alma mater:</strong>
  <%= @teacher.alma_mater %>
</p>

<p>
  <strong>University:</strong>
  <%= @teacher.university_id %>
</p>

<%= link_to 'Edit', edit_teacher_path(@teacher) %> |
<%= link_to 'Back', teachers_path %>
