<%= form_for(@completed_course) do |f| %>
  <% if @completed_course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@completed_course.errors.count, "error") %> prohibited this completed_course from being saved:</h2>

      <ul>
      <% @completed_course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :course_id %><br>
    <%= f.number_field :course_id %>
  </div>
  <div class="field">
    <%= f.label :section_id %><br>
    <%= f.number_field :section_id %>
  </div>
  <div class="field">
    <%= f.label :term %><br>
    <%= f.text_field :term %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :grade %><br>
    <%= f.text_field :grade %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
