<h1><%= link_to @university.name, @unviersity %> - Courses</h1>
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>Tag</th>
      <th>Name</th>
      <th># Sections</th>
      <th>Department</th>
      <th>Description</th>
      <th>Credits</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    
    <% @courses.each do |course| %><div class="well">
    <tr>
        <td><%= course.course_number %></td>
        <td><%= course.department.department_tag %></td>
        <td><%=  course.name %></td>
        <td><%= course.sections.count %></td>
        <td><%= link_to course.department.name, course.department %></td>
        <td><%= course.description %></td>
        <td><%= course.credits %></td>
        <td><%= link_to 'Show', course_posts_path(course) %></td>
        <td><%= link_to 'Edit', edit_course_path(course) %></td>
        <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
<h4>
  <% if user_signed_in? && current_user.badmin %>
  <%= link_to course.name, course_sections_path(course) %> <span class="label label-default"><%= course.credits %> Credits</span>
  <% else %>
  <%= course.name %>
  <% end %>
  <% if user_signed_in? && current_user.badmin %>
  <div class="pull-right dropdown">
    <button class=" pull-right: btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
      <li><%= link_to 'Show', course %></li>
      <li><%= link_to 'Edit', edit_course_path(course) %></li>
      <li><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </div>
  
  <% end %>
  </tbody>
</table>
  <%= course.description %>
</h4>
        <% course.sections.each do |f| %>
<h4>
  <%= link_to f, class: "btn btn-lg btn-default" do %>
  <span class="label label-primary">Section #</span>
  <span class="label label-success"><%= f.term %></span>
  <span class="label label-success">Professor <%= f.teacher %></span>
  <span class="label label-success"><%= f.schedule %></span>
  <span class="label label-success"><%= f.room %></span>
  <span class="label label-primary">Students: <%= f.enrollments.count %></span>
  <% end %>
</h4>

        <% end %>
</div>
    <% end %>
<div class="well">
  <br><% if user_signed_in? && current_user.badmin %>
<%= form_for Course.new, url: {university_id: @university.id}  do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :university_id %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :credits %><br>
    <%= f.text_field :credits %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
  <% end %>