<p id="notice"><%= notice %></p>
<h1><%= @course.name %> </h1>
<h4><span class="label label-primary"><%= @course.credits %> Credits</span> <%= link_to @course.university.name, university_courses_path(@course.university) %></h4>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> | 
<%= link_to 'Posts', course_posts_path(@course) %>
<%= link_to 'Sections', course_sections_path(@course) %>
<h4>Sections</h4>
<% @course.sections.each do |f| %>
<div class="well">
<%= f.teacher %>
</div>
<% end %>

<h4><%= link_to "Reviews", reviews_path %> - <%= @course.average_rating %></h4>
<% @course.sections.each do |f| %>
<% f.reviews.each do |r| %>
<strong><%= r.rating %> / 5</strong> from <%= r.user.full_name %>
<% end %>
<% end %>