<p id="notice"><%= notice %></p>

<p>
  <strong>University:</strong>
  <%= @course.university_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @course.credits %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %> | 
<%= link_to 'Posts', course_posts_path(@course) %>
<%= link_to 'Sections', course_sections_path(@course) %>
