<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
<p id="notice"><%= notice %></p>
<div class="container">
<div class="row">
  <div class="col-md-12">
<h1>
  <%= @university.name %>
</h1>
<p class="lead"><i>"<%= @university.description %>"
  </i>
</p>

    <%= column_chart Section.group(:subject).count %>
    
    <p class="lead">Did you know about <% the_section = Section.order("RANDOM()").first %><b><%= the_section.subject_number_section %></b>
    <%= link_to the_section.section_name, the_section %> 
    
