<!DOCTYPE html>
<html>
<head>
  <title>Classy</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<body>

<div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path, class: "navbar-brand" do %>
          <i style="text-shadow: 1px 1px 0px #fff, 2px 2px 0px rgba(0, 0, 0, 0.15);" class="text-primary fa fa-graduation-cap "></i>
             Classy
          <% end %>
        </div>
        <div class="collapse navbar-collapse">
          <% if user_signed_in? %>
            <ul class="nav navbar-nav">
              <% if current_user.bAmbassador %>
              <li> 
                <%= link_to current_user, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Profile", 'data-placement' => 'bottom' do %>
                  <i class="fa fa-user fa-x"></i>
                <% end %>
              </li>
              <li> 
              <%= link_to sections_wishlist_path, class: "tag-tooltip", data: {:toggle=>"tooltip"}, 'data-original-title' => "Search", 'data-placement' => 'bottom' do %>
                  <i class="fa fa-search fa-x"></i>
                <% end %>
              </li>
              
                <li>
                <%= link_to "Schools", universities_path %>
              </li>
              <li>
                <%= link_to "Departments", departments_path %>
            </li>
              <li>
                <%= link_to "Majors", majors_path %>
            </li>
              <li>
                <%= link_to "Courses", courses_all_courses_path %>
              </li>
              <li>
                <%= link_to "Sections", sections_wishlist_path %>
            </li>
              <li>
                <%= link_to "Friends", users_path %>
              </li>
              <% end %>
          </ul>
            
            <ul class="nav navbar-nav navbar-right">
              <li>
							<%= link_to  logout_path, :method => :delete do %>Log out <i class="fa fa-sign-out"></i> <% end %>
						</li>
              <% if current_user.bAmbassador %>
              <form class="navbar-form navbar-left">
                <%= link_to users_path, class: 'btn btn-primary navbar-' do %><i class="fa fa-key"></i> Ambassador Panel<% end %>
              </form>
              <% end %>
          </ul>
          
          <% else %>
          <ul class="nav navbar-nav">
            <% if current_page?(sections_wishlist_path) %>
            <li><div id="the-basics2">
<%= form_tag(sections_wishlist_path, :method => "get", id: "the-basics2  form-", class: 'navbar-form form-inline') do %>
  <div class="form-group col-md-">
    <%= text_field_tag :search, params[:search], style: 'width: 100%;', class: "form-control typeahead", id: "auto_complete", placeholder: "Search by Class, Teacher, Major, Requirement..." %>
    </div>
  <%= button_tag( :class => "btn btn-primary") do %>
  <i class="fa fa-search"></i> Search
<% end %>
<% end %>
              </div></li><% end %>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-right">
              <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
            </form>

            <li>
              <%= link_to "Sign Up", new_user_registration_path, class: "" %>
            </li>
          </ul>
          <% end %>
				
				 </div><!--/.nav-collapse -->
    </div>
    </div>
    <div class="container" >
     <%= render 'layouts/messages' %>
   
      <%= yield %>
  </div>
  </div>
  </div>
<% if current_page?(root_path) %>
<div class="footer">
      <div class="container"><br><p class="pull-right">Made with <i class="fa fa-heart text-danger"></i> by <%= link_to "James Steininger", "http://www.jamessteininger.info/about/" %></p>
        <p class="text-muted"><%= link_to "Privacy & Terms", static_pages_about_path, class: 'text-muted' %> &emsp; <%= link_to "Feedback", new_feedback_path, class: 'text-muted' %> &emsp; <%= link_to "About", static_pages_about_path, class: 'text-muted' %> &emsp; </p>
      </div>
    </div>
<% else %>
      <div class="container"><hr>
      <center>Copright &copy; Classy, 2014 <br>
      <%= link_to "Blog & Updates", posts_path %> | <%= link_to "Feedback", new_feedback_path %> | <%= link_to "About", static_pages_about_path %> | <%= link_to "Contact", "http://www.jamessteininger.info/about/" %><br>Made with <i class="fa fa-heart text-danger"></i> by <%= link_to "James Steininger", "http://www.jamessteininger.info/about/" %><br><br>
      </div>
   <% end %>
</body>
</html>
